@import "tailwindcss";

.block {
  margin: auto !important;
}

.surv-block {
    min-width: 39%;
    max-width: 500px;
}

body {
    overflow-x: hidden;
   
}

.block2 {
    min-height: 80vh;
}

@media (max-width: 400px) {
  .block4 {
    width: 120px;
  }
}
